body {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.text-container {
    width: 36%;
    margin: 10px auto;
}

.paragraph {
    color: black;
    line-height: 1.0;
}

.underline {
    text-decoration: underline;
}

.orange-highlight {
    background-color: orange;
}

.red-text {
    color: red;
}
